<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <!--supports keys between 0-9-->
  <appSettings>
    <add key="1" value="www.nba.com" />
    <add key="2" value="www.di.se" />
    <add key="3" value="www.svtplay.se" />
    <add key="4" value="www.bestofsvt.se/" />
    <add key="5" value="www.huffingtonpost.com/" />
    <add key="6" value="https://www.youtube.com/results?search_query=kobe" />
    <add key="7" value="https://www.youtube.com/results?search_query=young+kobe" />
    <add key="8" value="https://www.youtube.com/watch?v=nxmlAZqwQ9g" />
  </appSettings>
</configuration>